@model IEnumerable<TrendSet.Models.TailorDressCategoryMapping>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.UserName)
        </th>
       
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
              
                @Html.ActionLink(item.UserDetail.UserName,"FindIndex", new { id = item.UserId })
            </td>
            
           
        </tr>
    }

</table>
